language: ruby
ruby:
  - 2.4
services:
  - postgresql
addons:
  firefox: "60.0.1"
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.20.1/geckodriver-v0.20.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.20.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database taskmanager_test;' -U postgres
script:
  - export MOZ_HEADLESS=1
  - bin/rake db:migrate RAILS_ENV=test
  - bin/rake
